/*
 * Start Bootstrap - Full Width Pics (http://startbootstrap.com/)
 * Copyright 2013-2016 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap/blob/gh-pages/LICENSE)
 */

body {
    margin-top: 50px; /* Required margin for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

.image-bg-fluid-height,
.image-bg-fixed-height {
    text-align: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
     width: 100%;
    background-size: cover;
    border: 1px solid red;
}

.image-bg-fluid-height {
    position:absolute;
    top:0;
    left:0;
    background-image: url('../images/siyahyesil_651000 .jpg');
    padding: 100px 0;
}


.image-bg-fixed-height {
    position:absolute;
    top:100;
    left:0;
	background-image: url('../images/siyahyesil_651000 .jpg');
    height:300px;
}

.img-center {
	margin: 0 auto;
}

section {
    padding: 75px 0;
}

.section-heading {
    margin: 30px 0;
    font-size: 4em;
}

.section-lead {
    margin: 30px 0;
}

.section-paragraph {
    margin: 30px 0;
}

footer {
    color:ActiveCaption;
    margin: 50px 0;
}

@media(max-width:768px) {
    section {
        padding-top: 25px;
        padding-bottom: 25px;
    }

    .section-heading {
        font-size: 2em;
    }

}