/*!
 * Start Bootstrap - Modern Business (http://startbootstrap.com/)
 * Copyright 2013-2016 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap/blob/gh-pages/LICENSE)
 */

/* Global Styles */

html,
body {
    height: 100%;
}

body {
    padding-top: 50px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

.img-portfolio {
    margin-bottom: 30px;
}

.img-hover:hover {
    opacity: 0.8;
}

/* Home Page Carousel */

header.carousel {
    height: 50%;
}

header.carousel .item,
header.carousel .item.active,
header.carousel .carousel-inner {
    height: 100%;
}

header.carousel .fill {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
}
container padTop20{
    
    width:50%;
    height:50%;
    background-position: center;
    background-size: cover;

    

}
carousel-inner{

    width:50%;
    height:50%;
    background-position: center;
    background-size: cover;
}
fill{
    width:50%;
    height:50%;
    background-position: center;
    background-size: cover;

}
/*jumbotron{
padding:30px;
margin-bottom:30px;
font-size:21px;
font-weight:200;
line-height:2.1428571435;
color:inherit;
background-color:#eeeeee;




}*/
.fill {
    width:  100%;
    height: 100%;
    background-position: center;
    background-size: cover;
/*	max-height:400px */
}

.fill2 {
   height:400px;
/*	max-height:400px */
}

/* 404 Page Styles */

.error-404 {
    font-size: 100px;
}

/* Pricing Page Styles */

.price {
    display: block;
    font-size: 50px;
    line-height: 50px;
}

.price sup {
    top: -20px;
    left: 2px;
    font-size: 20px;
}

.period {
    display: block;
    font-style: italic;
}

/* Footer Styles */

footer {
    margin: 50px 0;
}

/* Responsive Styles */

@media(max-width:991px) {
    .customer-img,
    .img-related {
        margin-bottom: 30px;
    }
}

@media(max-width:767px) {
    .img-portfolio {
        margin-bottom: 15px;
    }

    header.carousel .carousel {
        height: 70%;
    }
}