﻿@model List<Microsoft.AspNet.Identity.EntityFramework.IdentityRole>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}



<div class="container">
    <div class="col-md-6">

        <div id="1">
            <div class="panel panel-default">
                <div class="panel-heading" style="background-color:#4f8edc">
                    <h4>Roller ve Sayıları</h4>
                </div>
                <div class="panel-body">
                    <ul>
                        @foreach (var item in Model)
                        {

                            <li>@item.Name - @item.Users.Count </li>

                        }
                    </ul>
                    <br />
                    @Html.ActionLink("Yeni Rol Ekle","RolEkle")
                </div>
            </div>
        </div>
    </div>
</div>