﻿@model MvcWeb2.Areas.Admin.Models.RolEkleModel
@{
    ViewBag.Title = "RolEkle";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}




<div class="container">
    <div class="col-md-6">

        <div id="1">
            <div class="panel panel-default">
                <div class="panel-heading" style="background-color:#4f8edc">
                    <h4>RolEkle</h4>
                </div>
                <div class="panel-body">
                    @using (Html.BeginForm("RolEkle", "RolYonetim", FormMethod.Post))
                    {
                        @Html.TextBoxFor(m => m.RolAd);
                        <input type="submit" />

                    }
                </div>
            </div>
        </div>
    </div>
</div>