﻿@model MvcWeb2.Areas.Admin.Models.RolKullaniciEkleModel
@{
    ViewBag.Title = "RolKullaniciEkle";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}




<div class="container">
    <div class="col-md-6">

        <div id="1">
            <div class="panel panel-default">
                <div class="panel-heading" style="background-color:#4f8edc">
                    <h4>RolKullaniciEkle</h4>
                </div>
                <div class="panel-body">
                   @using (Html.BeginForm("RolKullaniciEkle", "RolYonetim", FormMethod.Post))
                   {
                    <h3> @Html.LabelFor(m => m.KullaniciAdi)</h3>@Html.TextAreaFor(m => m.KullaniciAdi)

                    <br/>
                    <h3> @Html.LabelFor(m => m.RolAdi)</h3>@Html.TextAreaFor(m => m.RolAdi)
                    <br />
                    <input type="submit" />
                   }
                </div>
            </div>
        </div>
    </div>
</div>