﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    @*<link href="Content/full-width-pics.css" rel="stylesheet">
        <link href="Content/bootstrap.min.css" rel="stylesheet">
        <link href="Content/bootstrap1.min.css" rel="stylesheet">
        <link href="Content/modern-business.css" rel="stylesheet">
        <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>*@

    <title>@ViewBag.Title - SakaryaSpor</title>
    <link rel="shortcut icon" href="~/images/logo_dark.ico"/>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/font-awesome/css/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<a href="~/Views/Shared/_Layout.cshtml"></a>
<body>

    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Sakarya Sporluyuz", "Giris", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink(MvcWeb2.Resources.lang.AnaSayfa, "Index", "Home")</li>
                    <li>@Html.ActionLink(MvcWeb2.Resources.lang.Haberler, "Haberler", "Home")</li>
                    <li>@Html.ActionLink(MvcWeb2.Resources.lang.Hakkımızda, "About", "Home")</li>
                    <li>@Html.ActionLink(MvcWeb2.Resources.lang.Iletisim, "Contact", "Home")</li>

                    <li style="font-weight:bold;padding-top:10px; padding-left:5px;">
                        @if (HttpContext.Current.Session["Culture"].ToString() == "tr")
                        {
                            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                TR
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                <li>@Html.ActionLink("EN", "ChangeCulture", "Home", new { lang = "en", returnurl = this.Request.RawUrl }, null)</li>
                            </ul>
                        }
                        else
                        {

                            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                EN
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                <li>@Html.ActionLink("TR", "ChangeCulture", "Home", new { lang = "tr", returnurl = this.Request.RawUrl }, null)</li>
                            </ul>
                        }
                    </li>

                
                
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()

        <footer>
            <nav class="navbar navbar-inverse navbar-fixed-bottom" role="navigation">
                <div class="container">
                    <p>&copy; @DateTime.Now.Year - SakaryaSpor</p>
                </div>
            </nav>
        </footer>
    </div>
    @*<script src="~/Scripts/jquery1.js"></script>
        <!-- Bootstrap Core JavaScript -->
        <script src="~/Scripts/bootstrap.min1.js"></script>
        <!-- Script to Activate the Carousel -->
        <script>
        $('.carousel').carousel({
            interval: 5000 //changes the speed
        })
        </script>*@
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
