﻿@model MvcWeb2.Areas.Admin.Models.FotoGaleriModel
@{
    ViewBag.Title = "Add";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>Fotoğraf Ekleme</h2>

<div id="page-heading">
    <ol class="breadcrumb">
        <li><a href="index.htm">Dashboard</a></li>
        <li>UI Elements</li>
        <li class="active">Fotoğraf Ekleme Tablosu</li>
    </ol>
    <div class="options">
        <div class="btn-toolbar">
            <div class="btn-group hidden-xs">
                <a href='#' class="btn btn-default dropdown-toggle" data-toggle='dropdown'><i class="fa fa-cloud-download"></i><span class="hidden-sm"> Export as  </span><span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="#">Text File (*.txt)</a></li>
                    <li><a href="#">Excel File (*.xlsx)</a></li>
                    <li><a href="#">PDF File (*.pdf)</a></li>
                </ul>
            </div>
            <a href="#" class="btn btn-default"><i class="fa fa-cog"></i></a>
        </div>
    </div>
</div>
<div class="container">


    <div class="row">
        <div class="col-sm-12">

            <div class="panel panel-primary">
                <div class="panel-heading">


                </div>
                @using (Html.BeginForm("AddFoto", "Galeri", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
                {
                    <div class="panel-body">
                        <br>
                        <div class="form-group">
                            @Html.LabelFor(m =>m.FotoText, new { @class = "col-sm-3 control-label" })

                            <div class="col-sm-6">
                                @Html.TextBoxFor(m => m.FotoText, new { @class = "form-control", placeholder = "Fotoğraf Metin" })

                            </div>
                            <div class="col-sm-3">

                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.BaslangicTarih, new { @class = "col-sm-3 control-label" })

                            <div class="col-sm-6">
                                @Html.TextBoxFor(m => m.BitisTarih, new { @class = "form-control datepicker", placeholder = "Başlangıç Tarihi" })

                            </div>
                            <div class="col-sm-3">

                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.BitisTarih, new { @class = "col-sm-3 control-label" })

                            <div class="col-sm-6">
                                @Html.TextBoxFor(m => m.BitisTarih, new { @class = "form-control datepicker", placeholder = "Bitiş Tarihi" })

                            </div>
                            <div class="col-sm-3">

                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Resim, new { @class = "col-sm-3 control-label" })

                            <div class="col-sm-6">
                                @Html.TextBoxFor(m => m.Resim, new { @class = "form-control", placeholder = "Fotograf", type = "file" })

                            </div>
                            <div class="col-sm-3">

                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <div class="row">
                            <div class="col-sm-6 col-sm-offset-3">
                                <div class="btn-toolbar">
                                    <button class="btn-primary btn">Submit</button>
                                    <button class="btn-default btn">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@section plugincss{


    <link rel='stylesheet' type='text/css' href='~/assets/plugins/jqueryui-timepicker/jquery.ui.timepicker.css' />


}

@section jsplugins{
    <script type='text/javascript' src='~/assets/plugins/codeprettifier/prettify.js'></script>
    <script type='text/javascript' src='~/assets/plugins/easypiechart/jquery.easypiechart.min.js'></script>
    <script type='text/javascript' src='~/assets/plugins/sparklines/jquery.sparklines.min.js'></script>
    <script type='text/javascript' src='~/assets/plugins/form-toggle/toggle.min.js'></script>
    <script type='text/javascript' src='~/assets/plugins/jqueryui-timepicker/jquery.ui.timepicker.min.js'></script>
}

@section scripts{

    <script type="text/javascript">
         $('.datepicker').datepicker({
             format: 'mm.dd.yyyy',
         });

    </script>
    }