﻿@model MvcWeb2.FotoGaleri
@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>Silme</h2>


<div class="container">
    <div class="col-lg-12">

        <div id="1">
            <div class="panel panel-default">
                <div class="panel-heading" style="background-color:#4f8edc">
                    <h4>Silmek istediğinize emin misiniz?</h4>
                </div>
                <div class="panel-body">
                    <br />
                    <p><b>Silinecek slayt :</b>@Model.FotoText</p>
                    <br />
                    <p> @Html.ActionLink("Kabul ediyorum", "DeleteConfirm", new { id = Model.ID }) | @Html.ActionLink("Kabul etmiyorum", "Index")</p>
                    <br />
                </div>
            </div>
        </div>
    </div>
</div>

