﻿@model IEnumerable<FotoGaleri>
@{
    Layout = null;
}

<div class="row">
    <div class="col-lg-12">
        <h2 class="page-header" style="color:green">@MvcWeb2.Resources.lang.TARAFTARGALERI</h2>
    </div>
   
         @foreach (var item in Model)
         {
            <div class="col-md-4 col-sm-6">

                <img class="img-responsive img-portfolio img-hover" src="@item.FotoYol" alt="@item.FotoText"width="300" height="300"
                              onclick="this.src = '@item.FotoYol '; this.height = 700; this.width = 700">
                              

            </div>
         }
    @*<img data-attachment-id="53" data-permalink="https://gumusburak.wordpress.com/2014/06/29/asp-net-mvc-veritabanindan-veri-cekme/viewbitti/" data-orig-file="https://gumusburak.files.wordpress.com/2014/06/viewbitti.png" data-orig-size="1363,725" data-comments-opened="1" data-image-meta="{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;0&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;0&quot;,&quot;iso&quot;:&quot;0&quot;,&quot;shutter_speed&quot;:&quot;0&quot;,&quot;title&quot;:&quot;&quot;}" data-image-title="ViewBitti" data-image-description="" data-medium-file="https://gumusburak.files.wordpress.com/2014/06/viewbitti.png?w=300&amp;h=159" data-large-file="https://gumusburak.files.wordpress.com/2014/06/viewbitti.png?w=584" class="alignnone size-medium wp-image-53" src="https://gumusburak.files.wordpress.com/2014/06/viewbitti.png?w=300&amp;h=159" alt="ViewBitti" width="300" height="159" srcset="https://gumusburak.files.wordpress.com/2014/06/viewbitti.png?w=300&amp;h=159 300w, https://gumusburak.files.wordpress.com/2014/06/viewbitti.png?w=598&amp;h=318 598w, https://gumusburak.files.wordpress.com/2014/06/viewbitti.png?w=150&amp;h=80 150w" sizes="(max-width: 300px) 100vw, 300px">*@
   
     @*<div class="col-md-4 col-sm-6">

        <img class="img-responsive img-portfolio img-hover" src="~/images/tarih.png" alt="">

    </div>
    <div class="col-md-4 col-sm-6">

        <img class="img-responsive img-portfolio img-hover" src="~/images/tribun.png" alt="">

    </div>
    <div class="col-md-4 col-sm-6">

        <img class="img-responsive img-portfolio img-hover" src="~/images/takimyenistat.jpg" alt="">

    </div>
    <div class="col-md-4 col-sm-6">

        <img class="img-responsive img-portfolio img-hover" src="~/images/tatangaamblem.jpg" alt="">

    </div>
    <div class="col-md-4 col-sm-6">

        <img class="img-responsive img-portfolio img-hover" src="~/images/dirilis_logo.png" alt="">

    </div>*@
</div>