﻿@*@model IEnumerable<Giris>
@{
    Layout = null;
}



    @foreach (var item in Model)
    {
        <div class="image-bg-fluid-height">
            <a href="~/Home/Index"><img class="img-responsive img-center" src="~/images/logo_dark.jpg" alt=""></a>
        </div>
        <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
        <section>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="section-heading"><u><i>@item.GirisBaslik</i></u></h1>
                        <p class="section-paragraph" style="color:green">
                            <i>
                                @item.Icerik
                            </i>

                        </p>
                    </div>
                </div>
            </div>
        </section>
    }*@



