﻿@model IEnumerable<HaberTamIcerik>
@{
    Layout = null;
}

<hr />
<h1 style="color:green">@MvcWeb2.Resources.lang.Haberler</h1>
<hr />
<div class="container">
    <div class="col-lg-12">
        @foreach (var item in Model)
        {
            <div id="@item.HaberID">
                <div class="panel panel-default">
                    <div class="panel-heading" style="background-color:green">
                        <h4><i class="fa fa-fw fa-check"></i>@item.HaberBaslik</h4>
                    </div>
                    <div class="panel-body" style="color:green">
                        <img src="@item.HaberFotoYol" />
                        <p>@item.Haber</p>
                    </div>
                </div>
            </div>
        }
    </div>
</div>