﻿@model IEnumerable<HaberTamIcerik>
@{
    Layout = null;
}

<div class="container">
    <!-- Marketing Icons Section -->
    <div class="row">
        <div class="col-lg-12">

            <h1 class="page-header" style="color:black">
                @MvcWeb2.Resources.lang.HOSGELDIN
            </h1>
            <h1 class="page-header1" style="color:green">
                @MvcWeb2.Resources.lang.SAKARYASPORLU
            </h1>

        </div>

        @foreach (var item in Model)
        {
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading" style="background-color:green">
                        <h4><i class="fa fa-fw fa-check"></i>@item.HaberBaslik</h4>
                    </div>
                    <div class="panel-body" style="color:green">
                        <p>@item.HaberOzet</p>

                        <a href="~/Home/Haberler#@item.link" class="btn btn-default"><p style="color:green">@MvcWeb2.Resources.lang.DevaminiOku</p></a>
                    </div>
                </div>
            </div>
        }

        @*<div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading" style="background-color:green">
                        <h4><i class="fa fa-fw fa-check"></i>Tuncay Şanlı SakaryaSporda</h4>
                    </div>
                    <div class="panel-body">
                        <p style="color:green">Teknik direktörümüz Tuncay Şanlı ise takımdaki birlik beraberlik ve inançtan söz etti ve kaybetmeyi sevmeyen bir karaktere sahip olduğunun vurgusunu yapan Şanlı ekip olarak her maça ilk maç gibi hazırlanıyoruz ve çıkıyoruz dedi...</p>
                        <a href="~/Home/Haberler#link2" class="btn btn-default"><p style="color:green">@MvcWeb2.Resources.lang.DevaminiOku</p></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading" style="background-color:green">
                        <h4><i class="fa fa-fw fa-check"></i> Takımımız Yeni Stadımızda</h4>
                    </div>
                    <div class="panel-body" style="color:green">
                        Bugünkü antrenmanımız öncesi teknik heyetimiz ve futbolcularımız yeni stadyumumuzun şantiyesini ziyaret ettiler. İnşaasına hızla devam edilen yeni stadyumumuzda taraftarımızın önüne çıkmak için sabırsızlandıkları...</p>
                        <a href="~/Home/Haberler#link3" class="btn btn-default"><p style="color:green">@MvcWeb2.Resources.lang.DevaminiOku</p></a>
                    </div>
                </div>
            </div>*@
    </div>
</div>

