﻿@model IEnumerable<Slider>
@{
    Layout = null;
}

@*<div style="padding-top:20px">
    <div class="row">


       
            <div id="carousel-example-generic" class="carousel slide" data-interval="1000" data-ride="carousel">
                <div class="carousel-inner" role="listbox">
                    @{bool kontrol = true;
                        foreach (var item in Model)
                        {
                            if (kontrol == true)
                            {
                                kontrol = false;
                                <div class="item active">
                                    <img class="fill" src="@item.ResimYol" alt="@item.SlideText">
                                    <div class="carousel-caption">
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div class="item">
                                    <img class="fill" src="@item.ResimYol" alt="@item.SlideText">
                                    <div class="carousel-caption">
                                    </div>
                                </div>
                            }

                        }
                    }
                </div>
               </div>
        

        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
        <!-- Controls -->
        </div>
    </div>
</div>*@

<div style="padding-top:20px">
    <div class="row">


        <div id="carousel-example-generic" class="carousel slide" data-interval="1000" data-ride="carousel">
            <div class="carousel-inner" role="listbox">
                @{bool kontrol = true;
                    foreach (var item in Model)
                    {
                        if (kontrol == true)
                        {
                            kontrol = false;
                            <div class="item active">
                                <img class="fill" src="@item.ResimYol" alt="@item.SlideText">
                                <div class="carousel-caption">
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="item">
                                <img class="fill" src="@item.ResimYol" alt="@item.SlideText">
                                <div class="carousel-caption">
                                </div>
                            </div>
                        }

                    }
                }
            </div>

            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
            <!-- Controls -->


        </div>
    </div>
</div>

