﻿@using MvcWeb2.Models;
@{
    ViewBag.Title = @MvcWeb2.Resources.lang.Iletisim;
}
<h1>@ViewBag.Title</h1>
 @foreach (Iletisim item in ViewBag.iletisimbilgi)
 {
    <address>
        <h4>@item.Baslik</h4>
        <br />
        <p style="color:green">
            @item.Icerik
           <br />
            @MvcWeb2.Resources.lang.Adres: @item.Adres<br />
            @MvcWeb2.Resources.lang.Telefon:@item.Telefon
        </p>
    </address>

    <address style="color:green">
        <strong>@MvcWeb2.Resources.lang.Destek:</strong>   <a href="kurumsaliletisim@sakaryaspor.com.tr"> @item.Destek</a><br />
        <strong>Dükkan54:</strong> <a href="http://www.dukkan54.com/">www.dukkan54.com/@item.MagazaAdres</a>
    </address>
 }
