﻿
@{ViewBag.Title = "Giriş";}


<audio controls="controls" autoplay="autoplay" contextmenu="">
    <source src="~/Music/Sakaryaspor50.mp3" type="audio/mpeg" />
</audio>

   @*@{Html.RenderAction("_Giris", "Home");}*@
<div class="image-bg-fluid-height">
    <a href="~/Home/Index"><img class="img-responsive img-center" src="~/images/logo_dark.jpg" alt=""></a>
</div>
<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="section-heading"><u><i>SakaryaSpor</i></u></h1>
                <p class="section-paragraph" style="color:green">
                    <i>
                       
                        SakaryaSpor Kulübünün kuruluş hikayesi, şehrin 1900'lü yıllarında başlayıp, zaman içinde olgunlaşan köklü futbol geçmişinin,bir potada harmanlandığı, şehrin tüm farklı futbol değerlerinin birleşme iradesi gösterdiği 1965 yılında başlar.Dönemin gençlik ve spor bakanlığının,oluşturmak istediği II. Milli Futbol Ligi Projesi ve bunun ile ilgili olarak şehrin  önde gelenlerinin girişim yapmasını talep etmesi,kuruluşun mihenk taşıdır.
                            Dönemin futbol federasyonu başkanı Orhan Şeref Apak'ın girişimmleri ve o dönem  Adapazarı ŞekerSpor kaleciliğini yapan Fikret Aldinç'in Sakarya şehrinin futbol birikimine kefil olması ile süreç resmen başlamıtır.
                            10 Mayıs 1965 tarihinde Sakarya'da bulunan köklü takımlarından İdman Yurdu Başkanı AV.Ali Neccdet Güven, GüneşSpor kulüp başkanı Ethem Boran, Gençler Birliği kulüp başkanı Şevket Başak, Ada Gençlik kulübü 2.Başkanı Hamdi Uzel ve beraberindeki yöneticiler bir araya gelerek, şehrin tüm dinamiklerini ve güçlerini tek çatı altında toplanarak, şehrin tek profesyonel takımının kurulmasına dair görüşmeleri başlatmışlardır.Sakarya Spor'un temelleri bu görüşmlerde atılmıştır.
                            Ethem Boran'ın çalışmlara liderlik etmesi ile kuruluş süreci hızlanmış, İdman Yurdu, Ada Gençlik, Gençler Birliği ve GüneşSpor bünyesinden gelen 20 kişilik kurucu liste, SakaryaSpor kulübünün kuruluş dilekçesini sunarak 17 Haziran 1965 yılında ilgili kurumlara sunarak, büyük fedakarlıklarla efsanenin hikayesini yazmaya başlamışlardır.
                    </i>

                </p>
            </div>
        </div>
    </div>
</section>
<div class="image-bg-fixed-height"><img class="img-responsive img-center" src="~/images/tatanga332.jpg" alt=""></div>
<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="section-heading"><u><i>TATANGALAR</i></u></h2>
                <p class="section-paragraph" style="color:green">
                    <i>
                        Sakaryaspor'un en büyük taraftar grubu, 1990 yılında Sakaryaspor altyapısında futbol oynayan gençler tarafından kurulan Tatangalar grubudur.
                        Tatangalar, 1990 yılında Sakaryaspor Altyapı oyuncuları tarafından kurulan ve adını Kurtlarla Dans filminden alan taraftar grubu.Grubun liderliğini Keçi Yılmaz,Harun Şen ve Baba Murat yapmaktadır.Grup özellikle Seviyorum Seni adlı şarkıyı tribünlere getirmesiyle bilinir, son dakikalarda atkılar açılır ve bu beste söylenir.Tatangalar beste yazma konusunda da Türkiye'nin önde gelen gruplarındandır.Kendilerine bu şehrin en büyük sivil örgütüde derler.Köy okullarına yardım, ihtiyacı olanlara destek veren grup bu konuda da üzerine düşeni layıkıyla yapmaktadır.Yaptıkları farklı pankartları ve sloganlarıyla da tanınır olmuşlardır. Tatangalar'ın Göztepe , Mersin İdman Yurdu ile kardeşliği Bayburtspor ile de dostluğu vardır.

                        Tatanga ismi nereden geliyor?

                        O dönemlerde yeni bir film girmiştir vizyona. Başrollerinde Kevin Costner ve Mary McDonnell’ın oynadığı Dances With Wolves yani türkçesiyle “Kurtlarla Dans”. Kırıntı Fuat vardır bir de o zamanlar. Hep vizyonda olan başrollerini Sakaryaspor Altyapısı’nın oynadığı filmde. Kırıntı Fuat “Kurtlarla Dans” etmeye gider. Filmden çok etkilenir. Hemen arkadaşlarının yanına gelip, zaten kurulma aşamasında olan tribün grubundaki arkadaşlarına “Buldum!” der. “Evreka!” yani.
                        “İsmimiz Tatanka olmalı!” diye biraz da heyecanla söylenir durur. İçleri Sakaryaspor gidişatıyla taş olmuş ve ellerini taşın altına koymaya karar vermiş gençler, “Tatanka nedir?” diye sorar Kırıntı Fuat’a. Fuat anlatır uzun uzun
                        Tatanka isminin, Kurtlarla Dans filminde, savaşçı kızılderili kabilesi Sioux topluluğunun (Hunkpapa bölgesinde yaşadıklarından Hunkpapa Sioux kabilesi de denir), en değer verdiği, yaşayışında mânâ, duruşunda berklik olan bizonlara verdiği addır Tatanka. Güçlüdür, korkusuzdur, kutsaldır, değerlerine inançlıdır, haksızlıklara karşı savaşçıdır, yaşadığı yere tamamıyla sahiplenen bir varlıktır Tatanka. Derin anlamları vardır Sioux kabilesi için Tatanka’nın. Sioux kabilesinin reisi Iyotanka’nın (Iyotake de denir) önüne takıdır Tatanka. Her kızılderili gibi de derindir Tatanka Iyotanka. Aynen altyapı sonrası büyük bir kent sahipleniş savaşı başlatan geleceğin yıldızları gibi...
                        Tatanka adının anlamını benimseyip, yapmak istediklerine en uygun olduğunu düşündüklerinden fikir birliğine vardı altyapı gençleri, tribün grubu ismi konusunda. Tatankalar dediler kendilerine, Nevada eyaletinin bizonları Sakarya Nehri’ne geldi. Nehrin çocukları, bizon olup koşmaya başladı. İlk pankartları Tatankalar adı ile maçlarda boy gösteriyor, sonrasında söyleniş zorluğu bakımından Tatanka adını Tatanga yapıyordu grubu kuranlar. Pankartlarını değiştiriyorlar, Tatangalar olup Sakarya Atatürk Stadı’na renk, heyecan, kulüp olmaktan ötelik getiriyorlardı.
                    </i>
                </p>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>


