﻿
@{
    ViewBag.Title = "Anasayfa";
}
        
             <!-- Slider  -->
        @{Html.RenderAction("_Slider", "Home");}
             <!-- Slider  -->
        
              <!-- Haberler -->
       @{ Html.RenderAction("_HaberOzet","Home");}
              <!-- /.Haberler Sonu -->
             

            <!-- Taraftar Galeri -->
        @{Html.RenderAction("_Galeri", "Home");}
            <!-- Taraftat Galeri -->
            <br /><br /><br />
           

